#carrousel button 
    height: 10px
    width: 80px
    &[aria-current=true] 
        background-color: $customVerde

#carrousel img
    height: 100%

.carousel-item
    height: 35em

            
         
    