.hotVideoItem
    background-color: $grisFuerte
    color: $blanco
    border-color: $customVerde
    border-width: 1em
    border-right-style: solid
    span 
        font-weight: bold
        font-size: 25px
    svg
        stroke-width: 3
        font-size: 200%



.titleVideo
    font-weight: bold
    font-size: 18px
    margin-bottom: 0
    margin-top: 5% 
    text-align: left

.artistNameVideo
    font-size: 16px
    text-align: left