
#top_artist
    padding: 10em 0 10em 0
    background-color: $grisFuerte

hr
    margin-left: 5%
    margin-right: 5%
    width:15%
    color:$blanco
    height: 20px

.backGrisFuerte
    background-color: $grisSuave
    &-whiteBorder
        border-color: $blanco
        border-radius: 10px
        border-width: 10px
    p
        font-family: $fontTitles
        font-size: 25px

