#imgBackArtistDetail
    background-repeat: no-repeat
    //background-position-x: 50%
    background-position: 50% 55%
    background-blend-mode: darken
    background-size: 50%
    transition: all 1s
    @media screen and (max-width: 780px)
        background-size: 60% 
    @media screen and (max-width: 690px)
        background-size: 90% 
    *
        text-align: left

    
.gradientBack
    background: rgb(50,76,71)
    background: linear-gradient(0deg, rgba(50,76,71,1) 75%, rgba(134,201,190,1) 100%)
    

.ballSeparator
    width: 0.5em  
    margin-top: 0.25em 
    margin-right: 0.5em
    margin-left: 0.5em 
    color: $blanco


#tableArtistDetail 
    padding-bottom: 5em 
    margin-left: 0px
    padding-left: 2em
    padding-right: 2em
    //background-color: $negroAzulado1
    background: rgb(38,38,38)
    background: linear-gradient(0deg, rgba(38,38,38,1) 85%, rgba(50,78,71,1) 100%)
    width: 100%
    table
        color: $blanco
        thead
            tr
                th
                    padding-top: 1em
                    padding-bottom: 1em
                    position: sticky
                    top: -1px
        tbody
            tr
                td
                    border-color: inherit
                    border-style: hidden
                    margin-top: 5em
                &:hover
                    background-color: $grisSuave
                    td
                        &:first-child 
                            border-radius: 25px
                            border-radius: 5px 0 0 5px
                        &:last-child 
                            border-radius: 25px
                            border-radius: 0 5px 5px 0
            &:before 
                content:""
                //display: block
                line-height:10px
                text-indent:-99999px


.ButtonTable
    width: 100%
    padding:0
    color: $blanco    
    background: none
    border: none
    *
        
        width: 100%
        background: none 
    &:hover, &:active, &:focus
        background: none
        box-shadow: none
