#footerMR
    margin: 0   //section tiene margin y padding en general
    padding: 0
    width:100%
    position: fixed
    left: 0
    bottom: 0
    z-index: 5 //esta por encima de todos los otros elementos
    background: $negro
    
#buttons_play
    background: $negro
    padding-top: 0.5em
    @media screen and (max-width: 576px)
        width: 100%
    button
        vertical-align: middle
    
#song_title_footer
    color:$negro
    font-family: $fontSecondary

#artist_name_footer
    color:$negro
    font-family: $fontTitles

#footer_song_div
    background: $customVerde
    padding-top: 0.5em
    padding-bottom: 0.5em
    align-items: center
    text-align: center
    padding-left: 0  
    @media screen and (min-width: 576px)//skew si viewport > 576px
        transform: skewX(45deg)
        margin-left: -1.5em
    @media screen and (max-width: 576px) //fila si viewport < 576px
        width: 100%
    *
        @media screen and (min-width: 576px)
            transform: skewX(-45deg)
            align-items: center
            text-align: center
            font-size: 30px
    &.before
        content: "."
        position: relative
        background: $blanco
        top:0
        bottom: 0
        //left:-100%
        //right: -100%
        z-index: 4




.roundedButton
    background: $negroAzulado1
    border-color: $negroAzulado1
    width: 45px
    height: 45px
    border-radius: 25px
    font-size: 12px
    line-height: 1.42857
    margin-right:1em
    justify-content: center
    text-align: center
    //background-origin: padding-box
    //background-position-y: center
    &:active //active=cuando esta click sin soltar
        background: $grisSuave
        border-color: $grisSuave
        border-color: $grisSuave
        &:focus
            box-shadow: none
    &:hover //hover=al pasar por encima
        background: lighten($grisSuave, 10%)
        border-color: lighten($grisSuave, 10%)
        border-color: lighten($grisSuave, 10%)
        &:focus
            box-shadow: none
    &:focus //despues de click tiene foco, click fuera y lo pierde
        background: $negroAzulado1
        border-color: $negroAzulado1
        box-shadow: none
        &:hover, &:active //cuando esta click sin soltar
            background: $grisSuave
            border-color: $grisSuave
            border-color: $grisSuave
    i * //iconos
        text-align: center
        width: 30px
        height: 30px
        vertical-align: middle

#play
    @extend .roundedButton
    width: 60px
    height: 60px
    border-radius: 30px
    font-size: 14px
    &:focus //despues de click tiene foco, click fuera y lo pierde
        box-shadow: none


.btn-xl
    width: 70px
    height: 70px
    padding: 10px 16px
    border-radius: 35px
    font-size: 24px
    line-height: 1.33
