$customVerde:#01ffb0
$blanco:#ffffff
$negro:#000000
$negroAzulado1:#262626
$negroAzulado2:#272c33
$grisFuerte:#484848
$grisSuave:#5a5a5a

$mobileView: 479px

$fontTitles: 'Impact'
$fontSecondary: 'Arial'
