@import './variables'
@import './header'
@import './footer'
@import './about/allAbout'
@import './artist_detail/allArtistDetail'
@import './artists/allArtists'
@import './home/allHome'

.inlineElements
    display: inline
        
.customGreen
    color: $customVerde

body
    background: $negro

    p
        font-family: $fontSecondary
        color: $blanco

    h1, h2
        font-family: $fontTitles
        color: $blanco
    h1
        font-size: 80px    
    section
        margin-bottom:5em
    hr
        width:15%
        color:$blanco
        border-width: 90px

.centerElements
    width:100%
    display: flex
    justify-content: center
