@import './variables'
@import './header'
@import './footer'
@import './about/allAbout'
@import './artist_detail/allArtistDetail'
@import './artists/allArtists'
@import './home/allHome'
@import './common'


body
    background: $negro

    p
        color: $blanco
        text-align: center

    h1, h2
        font-family: $fontTitles
        color: $blanco
        text-align: center
    h1
        font-size: 75px    
    h2
        font-size: 60px    
    section
        margin-bottom:5em
        padding-bottom: 5em


.centerElementsX
    width:100%
    display: flex
    justify-content: center
    text-align: center

.centerElementsY
    margin: 0
    top: 50%

.alignRight
    margin-left: auto 
    margin-right: 0

.titleSecondary
    font-family: $fontSecondary
    font-weight: 300


.inlineElements
    display: flex
    flex-direction: row
    align-items: center
        
.customGreen
    color: $customVerde